body {
    margin: 0;
    padding: 10px;
}

.cv-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}